[2017-01-31 14:28] RyanGlScott opened #1 "Give example of testsuite driver file"
This repo leaves out a description of (arguably) the most important part: how to actually use the generated build module in a testsuite! I don't think this needs to be much, just a simple description in a `README` that shows this code:

[code]

[2017-01-31 14:30] RyanGlScott commented on #1
Oops, I just noticed that you put in this in the [code's comments itself](https://github.com/phadej/cabal-doctest/blob/5f9a323357eb000d23e8d2b5cff6b831dbe15a85/src/Distribution/Extra/Doctest.hs#L6-L19).

But I think it'd be nice to have a `README` anyway - I can tackle this one.

[2017-01-31 15:45] #1 closed

[2017-02-02 18:50] phadej opened #4 "Pass default-extensions"

[2017-02-04 02:02] RyanGlScott opened #5 "Mention possible need to put library itself in test-suite's build-depends to avoid a bug?"
I tripped over this when upgrading `bits` to use `cabal-doctest`. If I uses the following `build-depends` in the doctests `test-suite`:

[code]

Then `cabal test` fails!

[code]

That's because `cabal` hadn't compiled `debruijn.c` (which defines `debruijn_lsb64`) into an object file! It turns out that `bytes` (another library like `bits` which has a C dependency) doesn't suffer from this issue bec

[2017-02-04 09:08] phadej commented on #5
We should. Have to investigate whether this is Cabal/ghc bug of feature (it's not obvious to me how `cbits` work with `ghci`).

[2017-02-05 17:11] #4 closed

[2017-02-05 17:11] #5 closed

[2017-04-01 17:07] RyanGlScott opened #8 "cabal-doctest support for .hsc files?"
I encountered an interesting problem recently: `cabal-doctest` doesn't seem to mix well with `hsc2hs`. In particular, if you have a library with any `.hsc` file (regardless of whether it actually contains any doctests), trying to run `doctest` on that library via `cabal-doctest` will always fail with an error like this:

[code]

(In that example, I just renamed `Data/Distributive.hs` to `Data/Dist

[2017-04-01 17:21] phadej commented on #8
Do you have a (public) package where this is a problem.

Is it correct that GHC invokes `hsc2hs` for `hsc` files,  or is it `cabal` which knows how to preprocess them. What's about `.chs` and `.c2hs`?

If `cabal` does the preprocessing, than I hope this isn't hard (but not easy either) to fix in `cabal-doctest`.

[2017-04-01 17:24] RyanGlScott commented on #8
I originally encountered this in `quine`, which had a `Setup.hs` shim for `doctests` and a `.hsc` file at the same time. It turned out that `quine` doesn't even use doctests at all internally, so I eventually decided to [just remove](https://github.com/ekmett/quine/pull/13) the custom `Setup.hs` script, but if `quine` _had_ been using `doctests`, we'd have been in trouble.

GHC has no knowledge of

[2017-04-01 17:26] phadej commented on #8
Ok, then maybe `Cabal` already does preprocessing, and I just have to find where the results are. I'll check next week. Today I'll try to not to do anything, especially fool myself :)

[2017-04-27 16:05] RyanGlScott opened #9 "How to handle code involving unboxed tuples"
When testing the [`structs`](https://github.com/ekmett/structs) library with `cabal-doctest`, I ran into this error:

[code]

Or, if you want a more minimal example than `structs`, you can just use this simple file that uses `UnboxedTuples`:

[code]
[code]

A workaround is to pass `-fobject-code` to `doctest`, and indeed, I [applied this fix manually to `doctests.hs` in `structs`](https://github.c

[2017-04-27 16:17] phadej commented on #9
If we specify `other-extensions: UnboxedTuples`, than `cabal-doctest` can detect that.

Alternatively, is there a reason not to use `-fobject-code` always?

[2017-04-27 17:07] RyanGlScott commented on #9
Ah, interesting idea.

I don't think we'd want to do this, since we'd be significantly increasing the time it takes for `doctest` to process each file, since it now has to compile each one. And in the end, `doctest` would (IIRC) still run the tests themselves in interpreted mode, so I don't think you'd even get any performance benefits from using object code.

[2017-04-27 18:18] phadej commented on #9
I see, slowing `doctest` is quite bad, they are slow to begin with.

I can take a look on `structs` tomorrow.

[2017-04-28 13:36] RyanGlScott opened #11 "Configuring a Setup.hs script without cabal-doctest installed"
This isn't an issue when using `cabal-doctest` so much as it is an issue when _not_ using `cabal-doctest`. Or, to put it it more clearly, we have several backwards-compatible `Setup` scripts which guard against the presence of `cabal-doctest` like so:

[code]

As I put in the comments above, there's a bit of an assumption that when you have a recent version of `Cabal` installed, you always go down

[2017-04-28 13:54] phadej commented on #11
First of all, I think that "Trying configure anyway." is a bug in `cabal`.
Secondly: I opened an issue in `Cabal` not to break `rewriteFile`

But at last, would it be ok to just disable `doctests` if run configured thru the legacy codepath, to reduce the used API surface; though for that one needs `rewriteFile`. AFAIK we cannot disable components in custom setup, so we'd need to `rewriteFile` conf

[2017-04-28 14:00] RyanGlScott commented on #11
That's good, but more importantly, this could happen with _any_ `Cabal` API change, and given the library's rapid development, I think it's inevitable that this scenario will happen again at some point, even if this particular issue is fixed.

Now that would be an ideal solution, I think. After all, `custom-setup` dependencies are dependencies like any other, so trying to run the `Setup` code with

[2017-04-28 15:59] ekmett commented on #9
I think we have to use -fobject-code in this case, as we can't construct 'foo' from ghci, no?

[2017-04-28 16:00] ekmett commented on #9
This is how I've had to work around this in the past anyways. We're asking doctest to build in a very different manner to support a feature that isn't available to the bytecode compiler. It seems reasonable to have to ask.

[2017-04-28 16:01] RyanGlScott commented on #9
Certainly. The question is: what is the best way to inform `cabal-doctest` that `-fobject-code` should be used in this specific instance? Currently, we have to hack it in to `doctests.hs` directly, but we're moving towards being able to specify `x-doctest-options: -fobject-code` in `structs.cabal` [soon](https://github.com/phadej/cabal-doctest/issues/10).

[2017-04-28 17:16] phadej commented on #11
I opened an issue in `cabal` and will fix it ASAP (if there aren't any objections; yet only after May Day).

About second point, I think supporting old `cabal-install`s is more or less wasted work. As newest
`cabal-installs` support compiling with quite old GHCs, I don't see a valid reason to keep supporting them. Recent enough `cabal-install` set `MIN_VERSION_` macros, so this issue can be fixed

[2017-05-02 02:50] erikd opened #12 "Doesn't build with recent ghc-8.2"
I've using GHC that I built from the ghc-8.2 branch (version is reported as 8.2.0.20170430) and cabal-doctest fails to build with:
[code]
Thought you'd like to know.

[2017-05-02 09:48] christiaanb commented on #12
This is enough to get it to build: https://github.com/christiaanb/cabal-doctest/commit/3e8e22abd53af14bb8f7ed402172ef30f31a3e9b

No idea if it does the right thing though... as it is only a transitive dependency of one of my projects, getting it to build was good enough for my purposes.

[2017-05-02 09:58] phadej commented on #12
I actually "unbroke" rewriteFile, so have I'll procrastinate until that version of Cabal is in GHC tree

[2017-05-05 16:13] #9 closed

[2017-05-05 16:13] #12 closed

[2017-05-05 16:15] phadej commented on #12
Fixed in 1.0.1

[2017-05-05 16:23] phadej commented on #11
`Cabal-2.0` support can be resurrected with a similar change as in
[code]

---

It's unfortunate the breaking change into Cabal-2.0 API slipped very late in the release-cycle. I'm not sure if it's worth to update the shim parts of `Setup.hs` files. It's up to you @RyanGlScott

[2017-05-05 18:09] RyanGlScott commented on #11
I doubt I'll bother with releasing a new Hackage version of every single library which uses `cabal-doctest`, but I think it'd be worth it for me to at least update the shims in the HEAD versions of each library, since that's where people would be most likely run into this `cabal configure` issue.

But before I do this, perhaps we should come to an agreement on how to deal with this issue going for

[2017-05-07 18:02] phadej commented on #11
![image](https://cloud.githubusercontent.com/assets/51087/25783648/736093a0-3368-11e7-83df-aee4c027f51d.png)

[2017-05-07 18:04] RyanGlScott commented on #11
I like it!

I take since you bothered to implement it and post a screenshot, that you approve of my suggestion? :)

[2017-05-12 09:06] peti commented on #8
I have run into the same issue. I wanted to use this library precisely because I was having trouble doctesting my hsc2hs-base code. It would be really great if you could add support for that use case.

[2017-05-12 09:08] phadej commented on #8
@peti do you have a public repository, where I could test that `cabal-doctest` actually works with real world package?

[2017-05-12 11:59] phadej commented on #8
@peti, are you using `stack`, could you test a branch in https://github.com/phadej/cabal-doctest/pull/14 if it works for you?

[2017-05-12 14:12] RyanGlScott commented on #11
OK, the consensus that we reached in https://github.com/ekmett/bound/pull/55 was to use the simplified `Setup.hs` script proposed in https://github.com/ekmett/bound/pull/56.

I have a PR (#15) which updates the example in this repo to use the simplified `Setup.hs` script, so once we endorse that, I'd say we can close this issue.

[2017-05-14 19:55] #11 closed

[2017-05-15 09:49] peti commented on #8
@phadej, I created https://github.com/peti/hsyslog/tree/t/cabal-doctest-support in my `hsyslog` project to `hsc2hs` support. I run the build with `cabal-install`. I usually don't use `stack`.

[2017-05-15 09:51] peti commented on #8
I tried #14 with `cabal-install` and it works fine!

[2017-05-15 12:34] phadej commented on #8
@peti Great, I'll cut new release shortly.

[2017-05-16 13:14] phadej commented on #8
https://hackage.haskell.org/package/cabal-doctest-1.0.2 on Hackage.

[2017-05-16 13:14] #8 closed

[2017-05-18 09:12] peti commented on #8
Thank you very much for you efforts!

[2017-07-25 13:30] RyanGlScott opened #19 "Do doctests test suites always need to depend on the library?"
It seems that `doctests` test suites might always have an implicit dependency on the library being tested. I noticed this when doing the following:

[code]

The culprit appears to be that the `doctests` test suite in `parsers` lacks an explicit dependency on the `parsers` library. If I add that, then `cabal test doctests` works as expected.

Currently, we advise users in the documentation to depen

[2017-07-25 13:45] phadej commented on #19
@RyanGlScott can you paste the output of `cabal test doctest` (the test.log) in successful case?

And also `find dist` ?

[2017-07-25 13:47] phadej commented on #19
Note: there is no need to depend on the library, as we should pass everything to `doctests` to load the package in GHCi. In that scenari we seem to forget something...

[2017-07-25 13:50] RyanGlScott commented on #19
Here's the full output of `cabal test doctests`:

[code]

And here's the contents of `dist/test/parsers-0.12.5-doctests.log `:

[code]

[code]

[2017-07-25 13:51] RyanGlScott commented on #19
My hunch is that `dist/build/autogen/cabal_macros.h` only gets built when the _library_ is built. If you only build the `doctests` test suite, then the only thing that gets built is `dist/build/doctests/autogen/cabal_macros.h`.

[2017-07-25 13:52] phadej commented on #19
@RyanGlScott is it so, when there isn't dependency on `parsers` in test-suite, and you say `cabal test doctest` then the library **isn't** build?

[2017-07-25 13:52] phadej commented on #19
@RyanGlScott exactly. So we don't really depend on the library, but we depend on the fact it should be configured...

I have to think about this.

[2017-07-26 22:22] phadej commented on #19
I cannot reproduce this. Which `cabal-install` do you use?

[2017-07-26 22:22] RyanGlScott commented on #19
I've reproduced this with both 2.0 and 1.24.

[2017-07-26 22:24] RyanGlScott commented on #19
Make sure you're doing this from a completely clean build, since the presence of `dist/build/autogen/cabal_macros.h` will affect whether you can trigger the error or not.

[2017-07-26 22:30] phadej commented on #19
I see. I cannot reproduce it with GHC-8.0.2, but I can with GHC-8.2.1

[2017-07-26 22:40] phadej commented on #19
I asked @hvr and @ezyang if they know why `cabal` works differently.

For the record, with `cabal new-test doctests` you can reproduce this as well.

[2017-07-27 02:19] ezyang commented on #19
CC @angerman who contributed the doctest feature. It's probably just a simple bug.

[2017-07-27 02:27] ezyang commented on #19
The most likely reason why this only repros on GHC 8.2 is because GHC 8.2 is bundled with Cabal 2.0, which correctly generates separate `cabal_macros.h` for each component (and not just a single cabal_macros.h for the entire package.) So it is probably a bug in cabal-doctest where it is looking for the library macro, when it really should not: it should look at the *component* specific macro. See

[2017-07-27 06:01] RyanGlScott commented on #19
FWIW, I also recall experiencing this issue (having the test suites build before the library after invoking `cabal test`, where the test suites don't list the library as a dependency) when upgrading `singletons` to use `Cabal-2.0`, and `singletons` doesn't use a custom setup script. (See https://github.com/goldfirere/singletons/pull/182#issuecomment-296406153.) At the time, I gave up and just made

[2017-07-27 06:33] phadej commented on #19
@ezyang it *should* look into library specific `cabal_macros.h`, as `doctest` is interpreting library files.

I guess there's no other way ATM than adding intra-dependency. It's semantically wrong, OTOH `cabal-doctest` is a hack anyway.

[2017-07-27 21:41] #19 closed

[2017-07-31 08:58] nikita-volkov opened #21 "The "Build_doctests" module does not get generated"
To reproduce please check out the following build tree:

https://github.com/nikita-volkov/html-entities/tree/f863e42d65d4df799b9d2a234ca86036466695c5

I've tried running this on Mac with GHC 8.0.2 and 8.2.1, and the following Cabal setup:
[code]

[2017-07-31 09:23] phadej commented on #21
In the `Setup.hs` you have `doctests`, but your test-suite is ``doctest` (without trailing `s`).

After that you have also not-specify `NoImplicitPrelude` (it will be picked for the runtime from the library section).

[code]

[2017-07-31 09:39] nikita-volkov commented on #21
Thank you for such a fast response!

Concerning the `NoImplicitPrelude` issue. Since custom preludes are so popular lately, how about adding an explicit `import Prelude` to the generated `Build_doctests` file, so that it wouldn't be affected by the `NoImplicitPrelude` build-target flag?

[2017-07-31 09:49] phadej commented on #21
Yeah, why not. PR is welcome :)

[2017-07-31 09:56] #21 closed

[2017-09-29 15:14] tfausak opened #23 "Doesn't build with Cabal HEAD (2.1)"
I am working on a project that requires features from the latest HEAD version of `Cabal` (see haskell/cabal#4799). Something in my dependency tree pulled in `cabal-doctest` which caused my build to fail with this error:

[code]

I initially thought this was a problem with `distributive` (see ekmett/distributive#37) but was sent here instead.

I tried to fix this by bumping the bounds (`--allow-new

[2017-09-29 15:20] RyanGlScott commented on #23
It looks like the type of `rewriteFile` changed in `Cabal` HEAD: https://github.com/haskell/cabal/commit/0aa73b785c755d503162da2761ee7839c352e91f#diff-fe949fe985d4f115d0eee5b8268ef014R1385

Perhaps this patch would do the trick? (Disclaimer: I haven't tried compiling this.)

[code]

[2017-10-02 20:46] testexplode opened #24 "Could not find module ‘Distribution.Extra.Doctest’ --"
If I want to compile for example comonad or parsers I get the following errors:

[code]

I'm using manjaro-linux,

My versions are:
cabal-install version 2.0.0.0
compiled using version 2.0.0.2 of the Cabal library
The Glorious Glasgow Haskell Compilation System, version 8.2.1

Due to this error many packages that Idris is using are not buildable.

I tried to use the patch from issue #19, but it di

[2017-10-03 11:53] RyanGlScott commented on #24
It sounds like something is screwed up wkth your installation of `cabal-doctest`. Does `ghc-pkg check` say anything about it?

[2017-10-03 13:45] testexplode commented on #24
Noc it says nothing about it.

It says:
[code]

[2017-10-03 13:47] RyanGlScott commented on #24
OK. I'm grasping at straws a bit here, because I'm unable to reproduce the issue. Can you try uninstalling and reinstalling `cabal-doctest` to see if that makes a difference?

[2017-10-03 14:50] testexplode commented on #24
I tried to reinstall doctest, no change.
I made the installation of idris ```cabal install idris``` again on a virtual machine that has just been updated to ghc 8.2.1 (so no old packages): no change, same error

Perhaps it has something to do with the new dynamic linking in arch and manjaro ?

I had to change the ~/.cabal/config with
[code]

[2017-10-03 18:32] RyanGlScott commented on #24
Ah! Thank you, that `~/.cabal/config` info was very helpful. I'm now able to reproduce the issue locally on my Ubuntu machine if I run:

[code]

I'm not sure yet _why_ exactly this is failing, though.

[2017-10-03 22:50] RyanGlScott commented on #24
My gut feeling is that `cabal` is to blame here, given that this seems to happen specifically with `custom-setup` scripts. I've opened https://github.com/haskell/cabal/issues/4812 to track this.

[2017-11-02 12:53] pepeiborra opened #25 "Make a release"
We are prevented from using cabal-doctest because our test suite uses `NoImplicitPrelude`

[2017-11-02 16:55] RyanGlScott commented on #25
I'll prepare a new release soon.

[2017-11-03 14:13] RyanGlScott commented on #25
I've uploaded [`cabal-doctest-1.0.3`](http://hackage.haskell.org/package/cabal-doctest-1.0.3) to Hackage with this change.

[2017-11-03 14:13] #25 closed

[2017-11-03 19:08] pepeiborra commented on #25
Thanks!

[2017-11-10 10:37] peti opened #27 "Build_doctests isn't generated unless Cabal file defines a library"
I tried for quite a while now to run a doctest suite with `cabal-doctest` in a package that defines an executable, but no library, and all attempts invariably failed because the required `Build_doctests.hs` file wasn't generated. Then I added an *empty* `Library` stanza to my Cabal file, and immediately everything worked! I'm not sure why things work that way, but it doesn't seem right. Is that a

[2017-11-10 10:53] phadej commented on #27
It's the way things work. `cabal-doctest` is designed for libraries in mind, e.g. it passes to`doctest` modules from `library` stanza.

So, unless there are very good reasons otherwise (as you can put your executable modules into library, and have dummy `main = defaultMain` `Main.hs`), I'll close this as wontfix.

[2017-11-10 10:56] peti commented on #27
Hmm, well, I think it's somewhat unpleasant that I have to structure my code in a particular way to make `doctest-cabal` happy rather than the tool being happy with the way I structure my project, especially considering that having doctests in an exe-only project doesn't seem like a particularly outlandish use-case.

[2017-11-10 12:03] phadej commented on #27
@peti, I see. You can check how `cabal-doctest` is done, it uses `withLibLBI` in https://github.com/phadej/cabal-doctest/blob/5746d4e03ee32b696cd7bcda669618ed2ba8b2a5/src/Distribution/Extra/Doctest.hs#L168

Then you'll need to write `withMainComponent`, which would be like `withLibLBI` if library exists, or an `Exe` if exactly one exists. Supporting multiple-components would be way to complicated

[2017-11-10 14:07] RyanGlScott commented on #27
I share the opinion that we should support the ability to run `doctest`s in executables. Moreover, executables aren't the only way you can come up with multiple components that have `doctest`s: in `Cabal-2.0` and later, you can also have [internal libraries](https://www.haskell.org/cabal/users-guide/developing-packages.html#pkg-field-library-reexported-modules)! In fact, `withLibLBI` actually [run

[2017-11-10 22:54] phadej commented on #27
@RyanGlScott I don't disagree. If you or someone else is going to implement this, please go for single `Build_doctest` with a list of various configurations.

*However*

- I think this library is a **hack** and I want to have better solution by `cabal-install-2.4` (GHC-8.6).
    - and  I'd rather spend dev cycles into making proper `cabal new-doctest` (fwiw, I already considered multiple component

[2017-11-11 01:00] RyanGlScott commented on #27
I complete agree that `cabal-doctest` is quite hacky—all I'm saying is that adding this particular feature is straightforward. Straightforward enough, in fact, that I've done so in #28.

[2017-12-05 13:47] peti commented on #27
I tried to run doctest-0.13.0 in a `cabal new-build` environment with a `.ghc.environment.x86_64-linux-8.0.2` file present, but that did not work for me:

[code]

Am I missing something terribly obvious?

[2017-12-05 20:07] #27 closed

[2017-12-05 20:10] phadej commented on #27
Ah, for `Paths_pkg` you really need to know where `cabal` will put `Paths_pkg.hs`. The place is deterministic.

However, `cabal-doctest-1.0.4` with components support is released.

[2018-01-26 02:54] RyanGlScott commented on #24
Alas, there's nothing more we can do on `cabal-doctest`'s end, so I'll close this in favor of haskell/cabal#1720.

[2018-01-26 02:54] #24 closed

[2018-01-26 02:56] RyanGlScott commented on #23
Actually, this change to `rewriteFile`'s type signature was reverted in https://github.com/haskell/cabal/commit/5797013fa552268e726d19d4c4d326621ecd833c, so as of GHC 8.4.1-alpha2 (which comes shipped with `Cabal-2.1.0.0`), `cabal-doctest-1.0.4` builds without any changes! In light of this, I'll close this issue.

[2018-01-26 02:56] #23 closed

[2018-02-10 13:57] DanielG opened #32 "Should use doctest's --no-magic to stop it from interfering"
doctest seems to do all manner of weird things with the GHC flags passed to it, see https://github.com/sol/doctest/blob/6daf5b9623001ad8ff30e59a7a8add2840f1cac7/src/Run.hs#L57. This can be disabled by passing `--no-magic` to doctest. With that flag everything seems to work even with new-build :)

[2018-02-10 14:14] phadej commented on #32
You can use
[code]

I'm not sure I want to have it as default, have you an example package where it causes problems?

[2018-02-10 15:00] DanielG commented on #32
Yeah I thought having it as a default might be a bit much which is why I didn't just shoot a PR. I think we should warn users about this in the readme/module docs regardless.

Here's a minimal reproducer: https://github.com/DanielG/cabal-doctest-repro. Looks like doctest tries to expand "directories" in the GHC flags to be all the files within them, but here the `GhcMod` argument it gets is actual

[2018-02-10 15:08] phadej commented on #32
I see.
- I'd be +1 for having `--no-magic` as default, but there's no reverse flag in `doctest` (if for some very weird reason someone needs the magic?)
- otherwise I'm happy to accept a PR adding `x-doctest-options: --no-magic` to README and example packages.

[2018-03-09 07:19] cdepillabout opened #37 "running cabal-doctest on code that does FFI"
I'm trying to run cabal-doctest on a package that contains code that does FFI, but I am getting an error about an `Illegal foreign declaration`:

[code]

Here's the `mypackage-doctests` stanza out of the cabal file:

[code]

The `DocTest.hs` file is identical to the one defined [here](https://github.com/phadej/cabal-doctest/blob/16c6a88402745c163cbd46a225aae242817728f5/simple-example/tests/doctest

[2018-03-09 07:26] phadej commented on #37
Could you try adding `x-doctest-option: -fobject-code`, that's IIRC required to load FFI code into GHCi anyway.

[2018-03-09 07:54] cdepillabout commented on #37
That seems to work, thanks!

However, it leaves `.o` and `.hi` files next to the `.hs` files.

For instance, in my example above, if I have `src/Foo.hs`, after running the `mypackage-doctest` stanza, I am left with a `Foo.hi` and `Foo.o` file in `src/`.  Since I am using `stack`, I would have expected that they would be created in `.stack-work/` instead of being left in the `src/` directory.

Do y

[2018-03-09 08:12] phadej commented on #37
@cdepillabout you could try http://downloads.haskell.org/~ghc/latest/docs/html/users_guide/separate_compilation.html#ghc-flag--outputdir %E2%9F%A8dir%E2%9F%A9

But setting it to `.stack-work` will be build-tool dependent. We can teach `cabal-doctest` to set it to some path `Cabal` gives us hint about.

[2018-03-09 09:46] cdepillabout commented on #37
Thanks for the suggestion about `-outputdir`.  I specified `-outputdir` in `x-doctest-options` along with `-fobject-code` and all the `.hi` and `.o` files were put in that directory.

However, when I re-run the `mypackage-doctest` test suite, it appears that something weird is happening.  The first module that it tries to compile (and run doctest on) can't find `Prelude`:

[code]

If I delete the

[2018-03-12 07:23] cdepillabout commented on #37
Hmm, one more unfortunate thing about needing to use `-fobject-code` is that it doesn't seem to play nice with doctest in some cases:

https://github.com/sol/doctest/issues/160

[2019-01-24 18:16] deepfire opened #42 "Failure with GHC 8.8 / Cabal 2.5"
This is with Cabal 2.5 / GHC 8.8:
[code]
(Sorry for the botched Unicode, tty copy-paste can sometimes do this..)

[2019-01-24 18:38] RyanGlScott commented on #42
This is expected—`Cabal-2.5` made a breaking change that affects `cabal-doctest`. Given that `Cabal` has a relatively volatile API that changes frequently leading up to new GHC releases, I don't think it's necessarily a good idea to try and have `cabal-doctest` chase that moving target.

In the meantime, there's a [patch in `head.hackage`](https://github.com/hvr/head.hackage/pull/91) which works a

[2019-01-24 22:17] deepfire commented on #42
@RyanGlScott, the patch helped, indeed!

[2019-01-24 22:17] #42 closed

[2019-01-28 11:45] deepfire commented on #42
@RyanGlScott, except for its `Cabal` version bound, though, which is still `< 2.5` that breaks 8.8 : -)

[2019-01-28 11:50] RyanGlScott commented on #42
Why not just use `--allow-newer`?

I'm not willing to relax the upper version bounds until the full GHC 8.8 release, as that invites the possibility that there will be a last-minute change in the 8.8 cycle that breaks existing uploads of `cabal-doctest` on Hackage. And no, this isn't me just being paranoid—[this has actually happened before](https://github.com/phadej/cabal-doctest/issues/12).

[2019-01-28 13:51] phadej opened #43 "Add a motivation for this library to readme."
See https://github.com/ekmett/recursion-schemes/pull/66#issuecomment-458139272

[2019-01-28 13:53] phadej commented on #37
@cdepillabout can you make a small package to reproduce the problems.

I think https://github.com/sol/doctest/pull/217 can help in some situations (i.e. when you don't use non-exposed internals)

[2019-01-28 14:32] phadej commented on #42
Nix can jailbreak packages, i.e. remove all bounds?

[2019-01-28 14:33] phadej commented on #42
Also

[code]

[2019-01-28 14:49] cdepillabout commented on #37
@phadej I'm sorry, I don't remember too much about what was causing this, and I don't have access to the code anymore that was causing this.  (It was at a previous job.)

Please feel free to close this.

[2019-01-28 23:38] deepfire commented on #42
@phadej,

..yes, but not in conditional branches.

Aha! That's what I missed from the online docs. Thank you!

[2019-04-08 02:47] wpoosanguansit opened #47 "Getting can't find soure for Build_doctests error."
Hi,

I followed the doc with the code in Setup.hs taken from the readme.  But I am still getting the following error:

setup: can't find source for Build_doctests in test,
.stack-work/dist/x86_64-linux-nix/Cabal-2.4.0.1/build/doctests/autogen,
.stack-work/dist/x86_64-linux-nix/Cabal-2.4.0.1/build/global-autogen

I am using latest stack with Cabal-2.4.0 and cabal-doctests is defined.  This is runni

[2019-04-08 07:52] phadej commented on #47
@wpoosanguansit you might have a type, do you have your package somewhere publicly viewable?

[2019-04-08 17:36] wpoosanguansit commented on #47
@phadej thanks for your help.  Unfortunately, we don't have it in a publicly viewable project. Below are the two package and stack yaml files we are using.  Thanks again for  your help.

[package.yaml.txt](https://github.com/phadej/cabal-doctest/files/3055588/package.yaml.txt)
[stack.yaml.txt](https://github.com/phadej/cabal-doctest/files/3055589/stack.yaml.txt)

[2019-04-08 21:58] phadej commented on #47
I don't see anything obviously wrong with those.

You could try a version in https://github.com/phadej/cabal-doctest/pull/48 which would log the location of generated `Build_doctests` file. (I though have no idea how make `stack` to make custom setup verbose, `--cabal-verbose` doesn't seem to do the trick). Or you could try to `find . -name 'Build_depends.hs` to see if it's created at all.

[2019-04-09 20:58] wpoosanguansit commented on #47
find didn't return any result.  So the file was not generated at all I think.  Also, i did use the commit you mentioned.  I also didn't see any print out that is different from my earlier stack test runs.  Any other suggestions?  Thanks.

[2019-04-09 21:44] phadej commented on #47
- is generated twinflower.cabal with `build-type: Custom`
- how does your Setup.hs looks like

[2019-04-12 18:31] wpoosanguansit commented on #47
{-# LANGUAGE CPP #-}
{-# OPTIONS_GHC -Wall #-}

module Main (main) where

#ifndef MIN_VERSION_cabal_doctest
#define MIN_VERSION_cabal_doctest(x,y,z) 0
#endif

#if MIN_VERSION_cabal_doctest(1,0,0)

import Distribution.Extra.Doctest ( defaultMainWithDoctests )
import Data.ProtoLens.Setup

main :: IO ()
main = do
    defaultMainGeneratingProtos "src/System/Proto"
    defaultMainWithDoctests "doctests

[2019-04-12 18:42] phadej commented on #47
[code]

That's definitely incorrect. You might take a look into adding hooks with http://hackage.haskell.org/package/cabal-doctest-1.0.6/docs/Distribution-Extra-Doctest.html#v:addDoctestsUserHook

Look how `defaultMainWithDoctests` or `defaultMainAutoconfWithDoctests` are implemented.

[2019-04-15 17:11] wpoosanguansit commented on #47
I do see this in the doc:

[code]

And I do have this:

[code]
defaultMainWithDoctests "doctests" will get run, right?  I have to apologize that I didn't see what is missing yet.  Thanks for your help.

[2019-04-15 18:28] phadej commented on #47
I'm pretty sure that `defaultMainWithDoctests "doctests"` isn't run. Or if it is, it doesn't do anything reasonable.

[2019-07-05 16:26] recursion-ninja opened #51 "Build error with GHC-8.8.1"
I get the following error when trying to build with 8.8.1:

[code]

I think the types exported from `cabal` might have changed with the new compiler.

[2019-07-05 16:49] RyanGlScott commented on #51
Indeed, the version of `Cabal` that GHC bundles changed enough between GHC 8.8.1-alpha1 and -alpha2 that `cabal-doctest` doesn't compile with -alpha2. The general volatility of `Cabal`'s API in pre-release versions of GHC is why I don't want to make a new release of `cabal-doctest` until I know with certainty that the API has stabilized for the 8.8 release. Given that there hasn't even been a rele

[2019-07-05 16:50] RyanGlScott commented on #51
Until that point arrives, there is a patch in [`head.hackage`](https://github.com/hvr/head.hackage) for `cabal-doctest` that makes it work with -alpha2.

[2019-08-26 14:15] #51 closed

[2019-12-30 06:47] shajra opened #57 "Work better with Haskell.nix?"
Hi!

I tried to integrate two things new to me recently, Cabal-doctest and [Haskell.nix](https://github.com/input-output-hk/haskell.nix).  As you might expect, Doctests are already pretty hacky when it comes to Cabal integration.  It only gets trickier when you throw in Nix.  Actually, the default way of building Haskell projects with Nix ([Nixpkgs](https://github.com/input-output-hk/haskell.nix))

[2019-12-30 11:17] phadej commented on #57
I have to read this properly, but I have a quick comment:

cabal-install doesn’t use per-component build for `build-type: Custom` packages for related reasons: the custom Setup.hs can do virtually anything (particularly the Cabal hooks interface is not refined to support per component builds)

cabal-doctest is a hack, and I really really don’t want to make it more hacky. So option 3: Nothing is ve

[2019-12-30 15:49] shajra commented on #57
Okay, let me put that PR up anyway, and you can decide if it makes the code noticeably worse.  I'll go out of my way to not break any prior functionality.  It will just generate new things in `Build_doctests.hs` that it didn't before.

[2020-01-03 08:15] sgraf812 opened #59 "Deprecation plan"
The library mentions the following plan for deprecation

But
- That issue has already been closed (although there is only `cabal v1-doctest`)
- This library is useful independently of `doctest`. It's probably easy to say so in retrospect, but I think it should have been given a different name. I like it as a maintained replacement of https://hackage.haskell.org/package/cabal-toolkit.

I use this t

[2020-01-03 08:41] sgraf812 opened #60 "Consider generating `Build_*` modules for more than just test-suite targets"
I'm hijacking the purpose of `cabal-doctest` somewhat by using it to initialise a GHC API session to compile stuff to Core (on which then I run a custom strictness analysis). I've been using [`cabal-toolkit`](https://hackage.haskell.org/package/cabal-toolkit) before, but I realised I need `cabal-doctest` for my doctests anyway, and using it for my test suite to initialise the GHC API seems to work

[2020-01-03 09:46] phadej commented on #60
Sorry, but I'm strictly against of promoting `build-type: Custom`. There should be at least some plan to get rid of `cabal-doctest` in that use case too<sup>&dagger</sup>

<sup>&dagger;</sup> `cabal v2-doctest` is on the horizon, and I'm very sloooowly working towards it.

[2020-01-03 10:24] sgraf812 commented on #60
That's understandable, but given that you are quite knowledgable in the field: What alternative would you propose for my scenario? I.e. I'm looking for a way to set up a GHC API session that has enough packages installed (`base`, `transformers`, `containers`, `array`, ...) that I can elaborate and analyse simple `nofib` benchmarks like [`kahan`](https://github.com/sgraf812/datafix/blob/master/expr

[2020-01-03 10:35] phadej commented on #60
If it's standalone thing (like `nofib`), that I'd recommend using some way (e.g. https://github.com/phadej/cabal-extras#cabal-env / `cabal install --lib`) to set up a package environment, and then call `ghc -package-env=kahan-benchmark-env`  (I  ugess that's possible with GHC API too).

[2020-02-02 17:06] drewboardman opened #62 "cabal install <packages> fails with "Could not find module ‘Distribution.Extra.Doctest’""
**Describe the bug**
Cabal fails to install packages with `ghc` error.

**To Reproduce**
Steps to reproduce the behavior:

**NOTE**: This also fails on `cabal new-install snap snap-templates`

[code]

**System information**
 - Operating system: Arch Linux kernel version 5.4
[code]
 - `cabal`, `ghc` versions

[code]

**Additional context**
On arch linux, there is a linkage issue - so my `~/.cabal/c

[2020-02-02 17:19] phadej commented on #62
Most likely `Setup` is build with wrong flags, but I cannot tell where the flags go wrong.

As far as I know, the usual advice is to turn `shared` off even on Arch, to avoid these kind of problems. Otherwise, you have to fix them yourself.

[2020-02-02 18:27] drewboardman commented on #62
Turning off all of those arch changes fixes it.

[2020-02-02 18:27] #62 closed

[2020-11-11 13:22] expipiplus1 opened #64 "Readme and description mention closed issue"
The readme says that this library will become deprecated once https://github.com/haskell/cabal/issues/2327 is closed, and it's closed but this library is still afaict necessary. The description also references that issue.

[2020-11-11 13:27] phadej commented on #64
I'm in process of removing of `cabal v1-doctest` as it simply doesn't work (one can argue, never worked). There aren't issue for creating `v2-doctest`.

Feel free to make a PR clarifying that in README.

[2020-12-04 19:17] TomMD opened #65 "Dyplicate symbol definition failure"
When running doctest in the manner described in the readme (a custom setup etc) I get to the point of actually running the test:

[code]

This fails on my OS-X machine but works on the Linux based CI systems:

[code]

Is this a known issue?  Should I reroute to GHC's issue tracker?

My last attempt to make a minimal example failed, but I can retry.

[2020-12-04 19:25] phadej commented on #65
The example doctest runner has

[code]

Does it print duplicate `-package-id=db-cnvrsn-2.0.0.0-d1095495` for you? Or something else suspicious?

[2020-12-04 20:16] TomMD commented on #65
No, it looks good.  And just to check I did:

[code]

And that file has all the args emitted from the output, for example:

[code]

But it doesn't have even one mention of double conversion:

[code]

[2020-12-04 20:50] phadej commented on #65
Hmm. I think it might be issue in `doctest`. I see

[code]

when I run `doctest`, i.e. it loads GHC twice, first to parse modules, and then to actually do testing.

I had no success to reproduce it on linux, having TH using `double-conversion` and then `doctest`. In fact, that would be bizarre - as a lot of stuff uses `cbits`. What particularly happens in your case, no idea.

There are issues clos

[2020-12-22 13:25] andreasabel opened #66 "Add constraint `Cabal >=1.24` to example in README"
@phadej, thanks for this tool, it solved my problem to communicate the preprocessor(happy/alex)-generated files to my doctests-main in a robust way.

In the light of your explanation at https://github.com/haskell-CI/haskell-ci/issues/81#issuecomment-303954282

it may make sense to include the constraint `Cabal >=1.24` in your simple example and in the README.
At least this constraint make my build

[2020-12-22 13:42] phadej commented on #66
You understood that description in wrong way.

If you want to force having `Cabal` which would actually interpret `custom-setup` section, you need to use `cabal-version: 1.24`. Adding the bound to `setup-depends` won't do anything if someone uses old `cabal-install`, it will happily ignore whole section.

[2020-12-22 13:42] #66 closed

[2020-12-22 14:01] andreasabel commented on #66
Probably I got the wrong message from this comment: https://github.com/haskell-CI/haskell-ci/issues/81#issuecomment-304087288

@phadej wrote:

That makes a lot of sense...

[2021-02-10 08:20] dcastro opened #68 "Support for mixins"
I'm trying to get `doctest`+`cabal-doctest` to work on a project, but I can't get it to play ball with mixins.

Namely, I'm using a custom prelude and using `mixins: base hiding (Prelude)` to hide the default one. But it seems doctest doesn't seem to recognize this mixin and says there are two preludes in scope.

I've created a test project here, so we can reproduce this issue: https://github.com/

[2021-02-10 08:46] phadej commented on #68
`build-type: Custom` and `mixins` just don't work together.

[2021-02-11 12:00] dcastro commented on #68
@phadej Ah, that's sad to hear :/ Is that an intrinsic limitation, or is there a chance `mixins` and `Custom` may work in the future?

[2021-02-11 12:08] phadej commented on #68
In theory they could. In practice it  requires a lot of engineering (which I think is wasted work).

[2021-02-11 23:54] dcastro commented on #68
Interesting! How would I go about using it? For example, in this [test repo](https://github.com/dcastro/doctest-mixing), how would I enable cabal-docspec?

[2021-02-12 09:55] phadej commented on #68
Please read the manual first.

[2021-02-12 09:56] dcastro commented on #68
Oh, I completely missed the `manual.md`, I was looking for a `readme.md` :sweat_smile: Thanks, I'll have a look!

[2021-05-13 01:31] utdemir opened #69 ""Attempting to use module .. which is not loaded""
I am trying to add doctest support for the `linear-base` library, which uses GHC 9.

The usual `cabal-doctests` setup return a bunch of errors along the lines of:

[code]

However, a command like: `cabal exec -- doctest -package linear-base src/**/*.hs` succeeds.

I found out that the issue happens because of the `-isrc/` flag introduced by `cabal-doctest`. I think the reason is GHCi trying to use

[2021-05-13 13:30] phadej commented on #69
Honestly I don't understand what is the problem here. Probably somehow you are stretching what `cabal-doctest` is capable of handling. Not adding `-isrc` feels to be wrong and would break many existent users.

[code]

Seems wrong. `doctest` interprets sources, why you need `-package linear-base`?

You have you figure that out.

---

That said, I don't use `cabal-doctest` myself anymore, but rather

[2021-06-11 14:45] andreasabel opened #70 "Build failure with GHC 9.2 alpha-2"
I tried GHC 9.2 alpha-2 on `cabal-doctest`.  Building fails with:
[code]

[2021-11-01 18:48] andreasabel commented on #70
See #72.  Atm blocked on:
- [ ] doctest (https://github.com/sol/doctest/issues/305)

[2021-11-01 19:14] phadej commented on #70
@andreasabel I'm not using `cabal-doctest` anymore. Do you want to take over its maintenance?

[2021-11-01 19:21] andreasabel commented on #70
I can do this (since I am already involved in `doctest`)---until someone more competent than me comes around.

[2021-11-01 19:31] phadej commented on #70
Welcome onboard, I added you on Hackage too.

[2021-11-01 19:49] andreasabel commented on #70
Thanks!

[2021-11-02 01:09] danwdart commented on #70
Hmm, I thought this was deprecated. Also interested in contribution.

[2021-11-02 10:24] phadej commented on #70
@danwdart from my POV it is. If someone want/need to undeprecate it, it's all yours.

[2021-11-04 11:11] alissa-tung commented on #47
Whats your test-suite name for doctests in the Cabal file? In the pkg doc case, it is "doctests".

[2021-11-07 17:53] tchoutri opened #74 "Publish a version that accepts Cabal 3.6"
Hi @andreasabel, could we have a version that supports Cabal 3.6 on Hackage? :)

[2021-11-07 22:21] andreasabel commented on #70
@danwdart If you want to contribute, welcome!, let @phadej invite you to this repo (I can't).

[2021-11-07 22:21] #70 closed

[2021-11-07 22:23] andreasabel commented on #74
@tchoutri I just released 1.0.9.  Can you please check if it works for you?

[2021-11-07 22:25] andreasabel commented on #59
I removed the reference to `cabal doctest` in 1.0.9.

[2021-11-07 22:25] #59 closed

[2021-11-08 23:53] wpoosanguansit commented on #47
I am so sorry @alissa-tung that I have stop working on the code awhile back and I totally lost the hd that this project was on from encryption.  Thanks for your help.

[2021-11-08 23:53] #47 closed

[2021-11-09 00:01] alissa-tung commented on #47
You're welcome and sorry to hear that. I ran into this issue because I initially use the name in the example instead the test-suite of the package I am working on and after I made CI passing I thought I can help if it can be the reason in this issue. Hoping someone who indexed the issues in the future can save some time :)

[2021-11-10 08:40] tchoutri commented on #74
@andreasabel It does, thank you very much!

[2021-11-10 15:58] andreasabel commented on #74
Great!

[2021-11-10 15:58] #74 closed